*{
  margin:0;padding:0;box-sizing:border-box;background:black;
}

ul li{
  list-style:none;
}

.Pages{
  width:100%;
  margin:0 auto;
}

#Front img{
  width:100%;
  margin:0 auto;
}

.nav{
  background:gray;
  color: white;
  padding-right: 100%;
}

#DocBar{
  position: absolute;
  margin=0;
}
#Projects .readme{
  border: 1px white solid;
  margin: 10px;
  padding: 50px;
}
#Projects .wordle_bell{
  border: 1px white solid;
  margin: 10px;
  padding: 50px;
}

h3{
  color: white;
}
